#!/bin/sh

OUTPUTDIR="$1"

xsltproc --output "$OUTPUTDIR/index.html" makehtml.xslt "$OUTPUTDIR/result.xml"

# move results over to public_html dir
rm -rf "$HOME/public_html/`basename $OUTPUTDIR`"
mv "$OUTPUTDIR" "$HOME/public_html"
fs setacl "$HOME/public_html/$OUTPUTDIR" webserver read
